/**
 * Styling for everything that lies between 
 * the header and footer sections.
 */

/*=======================================*\
 * ## Content 
\*=======================================*/
#content {
	&:after {
		display: block;
		content: '';
		clear: both;
	}

	#primary {
		float: left;
		width: 70%;
		padding: 0 1em;
	}

	#secondary {
		float: left;
		width: 30%;
		padding: 0 1em;
	}
}





/*=======================================*\
 * ## Content Styling
\*=======================================*/
#content {
	.entry-header {}

	.entry-title {

		& a {}

	}

	.entry-meta {}

	.entry-content {}

	.entry-footer {}
}


/*
* Optional
*/
.page #content {
	.entry-footer {}
}





/*=======================================*\
 * Sidebar
\*=======================================*/
#content {
	.widget {
		& ul, ol {
			margin-left: 0;
			padding-left: 0;
			list-style: none;
		}
	}

	a {}

	.widget-title {

	}
}