/*=======================================*\
 * ## Content 
\*=======================================*/
#content {
	&:after {
		display: block;
		content: '';
		clear: both;
	}

	#primary {
		float: left;
		width: 70%;
	}

	#secondary {
		float: left;
		width: 30%;
	}
}





/*=======================================*\
 * ## Content Styling
\*=======================================*/
#content {
	.entry-header {}

	.entry-title {

		& a {}

	}

	.entry-meta {}

	.entry-content {}

	.entry-footer {}
}





/*=======================================*\
 * Sidebar
\*=======================================*/
#content {
	.widget {
		a {}

		& ul, ol {
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;
		}
	}

	.widget-title {

	}
}