/**
 * Styling for generic settings, such as-
 * - font family|size|weight, color
 * - line height
 * - anchor color for link|visited|hover|active
 * - input field  
 * - tags such as strong, pre, code
 */

body {
	font-family: sans-serif;
	font-size: 1.15em;
	line-height: 1.5;
}

a {
	color: #333;
	
	&:link {}

	&:visited {
		color: #333;
	}

	&:hover {
		color: #555;
	}

	&:active {
		color: #000;
	}
}