/**
 * Although the navigation menu is a part
 * of 'header.php', the CSS for menu can
 * grow very big in size. Hence a dedicated
 * stylesheet for navigation menu is advised.
 */

.main-navigation {
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		color: #333;
		display: block;
		padding: .5em 1em;
	}

	ul {
		&:after {
			display: block;
			content: '';
			clear: both;
		}
	}

	ul li {
		position: relative;
		float: left;
	}

	ul ul {
		position: absolute;
		top: 100%;
		left: 0;
		width: 180px;
	}

	ul ul li {
		float: none;
	}
}