/**
 * Universal classes are meant to be used in 
 * the HTML|PHP files for quick usage
 */

/*=======================================*\
 * ## Universal Classes
\*=======================================*/
.clearfix {
	display: block;
	content: '';
	clear: both;
}

.width-setter {
	max-width: 64em;
	margin: 0 auto;
}